$color-one: #f5487f;
$color-two: #c7417b;
$color-three: #8f3b76;
$color-four: #553772;
$color-five: #e3e3e3;
$background: #1f306e;

.navbar {
  // padding: 0;
  // background-color: black;
  width: 50vh;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  transition: 500ms;

  a,
  form {
    position: relative;
    z-index: 99;
    // background-color: greenyellow;
    display: flex;
    width: 100px;
    height: 10vh;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: $color-one;
    font-size: 2rem;
    transition: 500ms;
    border-radius: 0 2rem 2rem 0;
    i {
      display: flex;
      align-items: center;
      // justify-content: center;
      margin: 0 2rem;
      min-width: 40px;
    }
    h2 {
      // display: none;
      height: 90%;
    }
  }
  a:hover,
  form:hover {
    width: 40vw;
    background-color: $color-four;
    color: $color-five;
    > h2 {
      display: block;
    }
  }
}
