@import "./navBar";
@import "./error";
@import "./login";
@import "./signup";
// @import "./circles";

@font-face {
  font-family: chillbold;
  src: url("../font/Chillax-Semibold.otf");
}
@font-face {
  font-family: chill;
  src: url("../font/Chillax-Regular.otf");
}

$color-one: #f5487f;
$color-two: #c7417b;
$color-three: #8f3b76;
$color-four: #553772;
$color-five: #e3e3e3;
$background: #0e1633;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
html {
  background-color: $background;
}
.App {
  height: 100vh;
  width: 100vw;
  background-color: $color-five;
  // background: linear-gradient(180deg, #553772 0%, #0e1633 100%);
  color: $color-five;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div {
  font-family: chill;
  font-size: 2vw;
}
header {
  font-family: chillbold;
  font-size: 5vw;
  color: $color-one;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-five;
  transition: 300ms;
}
a:hover {
  color: $color-two;
}
input,
select {
  font-family: chill;
  background-color: rgba(143, 59, 118, 0.4);
}
button,
input,
select {
  border-radius: 2rem;
  transition: 900ms;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button::-webkit-scrollbar,
form::-webkit-scrollbar {
  display: none;
}

.Main {
  position: absolute;
  bottom: 3%;
  right: 3%;
}
.container {
  background: linear-gradient(
    24.3deg,
    rgba(143, 59, 118, 0.6) 0%,
    rgba(199, 65, 123, 0) 100%
  );
  // border: 0.3rem solid $color-three;
  border-radius: 2rem;
  padding: 2rem;
  z-index: 2;
  // position: relative;
  // left: 50%;
  // top: 80%;
}
.main-header {
  font-size: 6vw;
}

@media only screen and (max-width: 800px) {
  .circle {
    height: 5rem;
    width: 5rem;
  }
  .circle-two {
    display: none;
  }
  .navbar {
    // margin-top: 2vw;
    // height: 3rem;
    // form {
    //   width: 80%;
    //   height: 100%;
    //   margin-right: 1vw;
    // }
    a {
      h2 {
        display: none;
      }
    }

    button {
      // background-color: greenyellow;
      max-width: 2.6rem;
      max-height: 2.6rem;
      i {
        font-size: 1.6rem;
      }
    }
    input,
    select {
      max-height: 2rem;
    }
  }
  .container {
    // margin-top: 20vw;
    background: transparent;
  }
  .main-header {
    font-size: 8vh;
  }
  li {
    font-size: 9vw;
  }
  header {
    font-size: 10vh;
    margin-bottom: 10%;
  }
}

.content {
  // background-color: greenyellow;
  // width: 70vw;
  // height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    color: $color-one;
    max-width: 50%;
    text-align: center;
  }
}
img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transition: 900ms;
  filter: grayscale(100%);

  &:hover {
    border-radius: 1rem;
    filter: grayscale(0%);
  }
}
