.navbar {
  width: 50vh;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.navbar a,
.navbar form {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 10vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #f5487f;
  font-size: 2rem;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 0 2rem 2rem 0;
}

.navbar a i,
.navbar form i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  min-width: 40px;
}

.navbar a h2,
.navbar form h2 {
  height: 90%;
}

.navbar a:hover,
.navbar form:hover {
  width: 40vw;
  background-color: #553772;
  color: #e3e3e3;
}

.navbar a:hover > h2,
.navbar form:hover > h2 {
  display: block;
}

span {
  font-size: 8rem;
  color: #f5487f;
}

.App {
  background-color: greenyellow;
}

header {
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user,
.name,
.email,
.password {
  min-height: 2rem;
  height: 4vh;
  min-width: 16rem;
  width: 20vw;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #e3e3e3;
}

input::-webkit-input-placeholder {
  color: #e3e3e3;
}

input:-ms-input-placeholder {
  color: #e3e3e3;
}

input::-ms-input-placeholder {
  color: #e3e3e3;
}

input::placeholder {
  color: #e3e3e3;
}

.user,
.name,
.email,
.password,
select {
  min-height: 2rem;
  height: 4vh;
  min-width: 16rem;
  width: 20vw;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #e3e3e3;
  border: none;
}

option {
  text-align: center;
}

.Signup input:focus,
.Signup select:focus,
.Login input:focus,
.Login select:focus {
  outline: none;
  background-color: #c7417b;
}

@font-face {
  font-family: chillbold;
  src: url("../font/Chillax-Semibold.otf");
}

@font-face {
  font-family: chill;
  src: url("../font/Chillax-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

html {
  background-color: #0e1633;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #e3e3e3;
  color: #e3e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div {
  font-family: chill;
  font-size: 2vw;
}

header {
  font-family: chillbold;
  font-size: 5vw;
  color: #f5487f;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e3e3e3;
  -webkit-transition: 300ms;
  transition: 300ms;
}

a:hover {
  color: #c7417b;
}

input,
select {
  font-family: chill;
  background-color: rgba(143, 59, 118, 0.4);
}

button,
input,
select {
  border-radius: 2rem;
  -webkit-transition: 900ms;
  transition: 900ms;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button::-webkit-scrollbar,
form::-webkit-scrollbar {
  display: none;
}

.Main {
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.container {
  background: linear-gradient(24.3deg, rgba(143, 59, 118, 0.6) 0%, rgba(199, 65, 123, 0) 100%);
  border-radius: 2rem;
  padding: 2rem;
  z-index: 2;
}

.main-header {
  font-size: 6vw;
}

@media only screen and (max-width: 800px) {
  .circle {
    height: 5rem;
    width: 5rem;
  }
  .circle-two {
    display: none;
  }
  .navbar a h2 {
    display: none;
  }
  .navbar button {
    max-width: 2.6rem;
    max-height: 2.6rem;
  }
  .navbar button i {
    font-size: 1.6rem;
  }
  .navbar input,
  .navbar select {
    max-height: 2rem;
  }
  .container {
    background: transparent;
  }
  .main-header {
    font-size: 8vh;
  }
  li {
    font-size: 9vw;
  }
  header {
    font-size: 10vh;
    margin-bottom: 10%;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content h3 {
  color: #f5487f;
  max-width: 50%;
  text-align: center;
}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  -webkit-transition: 900ms;
  transition: 900ms;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

img:hover {
  border-radius: 1rem;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
/*# sourceMappingURL=App.css.map */